################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleAppBusinessLogic/bin/Debug/netcoreapp2.0
